<html>
  <head>
    <title>All Months</title>
  </head>
  <body>
    <ul>
      <li><a href="{{base_url}}january">January</a></li>
      <li><a href="{{base_url}}february">February</a></li>
      <li><a href="{{base_url}}march">March</a></li>
      <li><a href="{{base_url}}april">April</a></li>
      <li><a href="{{base_url}}may">May</a></li>
      <li><a href="{{base_url}}june">June</a></li>
      <li><a href="{{base_url}}july">July</a></li>
      <li><a href="{{base_url}}august">August</a></li>
      <li><a href="{{base_url}}september">September</a></li>
      <li><a href="{{base_url}}october">October</a></li>
      <li><a href="{{base_url}}november">November</a></li>
      <li><a href="{{base_url}}december">December</a></li>
    </ul>
  </body>
</html>
